div {
  margin: 5px;
  padding: 8px;
  position: relative;
  border-radius: 8px;
}

.chat-app{
  display: grid;
  grid-template-columns: 50%;
/* flex-direction: column; */
  justify-content: center;
}

.chat-container{
  height: calc(100vh - 11rem);
  overflow: auto;
}

.sent{
  background-color: #358f3d;
  color: white;
   text-align: right;
   width: 30vw;
  overflow-wrap: break-word;
   left: 8rem;
}

.received {
  background-color: #7fb7f6;
  color: black;
   text-align: left;
   width: 30vw;
  overflow-wrap: break-word;
}
